# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# OSX
.DS_Store

# IDE
.vscode/
.idea/

# Env
.env
.env.local

# Logs
*.log

# Builds
*.apk
*.ipa
*.aab

# Android
*.keystore
!debug.keystore
android/app/build/
android/.gradle/

# iOS
ios/Pods/
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/
